<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<br class="container-fluid">
<div th:replace="include/header :: header"></div>
<h3>About Us</h3>
<p><img th:src="@{/images/small1.png}" alt="..." class="img-thumbnail" th:align="left" th:width="300" vspace="5"
        hspace="5">
    Online Tours Market is a family-owned tour operator and travel agency located in New York, NY.
    We specialize in tours to Ireland but are always expanding and enhancing our wide range of offers, as well as adding
    new and exciting tours of Britain, Italy, Eastern Europe, Mexico and the Caribbean.
    A family-owned business based in New York, Online Tour Market was founded in 1985 by Jim & Teresa Kelly and since
    that humble beginning it has grown into a trusted resource that has helped tens of thousands of people better enjoy
    their travel.

    Many agencies force you to deal with multiple people throughout the booking process, making it disjointed and
    impersonal. At Online Tours Market you will deal with the same travel expert from the moment of initial contact until you
    are safely back at home.

    When booking a vacation, it is always better value to book an air-inclusive packages. Many travel agencies are
    unable to offer this. Online Tours Market & Tours works with most all international airlines and frequently offers the
    most competitive fares for travel to Ireland,Britain and Europe.
</p>
<p>
<p>Visit us in person</p>
Unlike many other agencies who do their business solely online or even from abroad, we still keep regular office hours
and are delighted when with planned visits or drop-ins to our West Roxbury office.
</p>


<p>Quality is our focus</p>
We insist on prompt and pleasant customer service and the best hotels, visitor attractions and entertainment. By sharing with you the hidden places not mentioned in guidebooks, the local people you wouldn’t otherwise meet and the traditions you may not have experienced by yourself, we ensure that you get an authentic and enhanced experience you simply could not have had on your own.
</p>
Personal service</p>
<p>Our team here is friendly and affable. We are specialists in the destinations that we offer and possess deep product knowledge about them. We will offer you a personal service and will handle your booking from start to finish ensuring that all your travel needs are met.
</p>
<p>Reputation</p>
<p>At Online Tours Market, we strive to earn repeat business from you and want you to recommend us to your friends and family. Your referrals are extremely valuable to us and we know that we have to work diligently to deserve them.
</p>

</br></br>
</div>
<div th:replace="include/footer :: footer"></div>
</body>

</html>
