<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>
    <h3>About Us</h3>
    <p>The rapid rise of AI and automation, along with the changing roles of people in
        the workforce, have created both complexity and opportunity for individuals,
        businesses and entire countries. Our company’s purpose is to reduce this complexity
        and help our customers exploit the opportunity through products that pair people with
        intelligent software robots.</p>
</div>
<div th:replace="include/footer :: footer"></div>
</body>

</html>
