<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<br class="container-fluid">
<div th:replace="include/header :: header"></div>
<th:block th:if="${currentuserid!=4}">
    <h3>Article</h3>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Article</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${article.id}">...</td>
            <td th:text="${article.date}">...</td>
            <td th:text="${article.name}">...</td>
            <td th:text="${article.userDTO.getFirstname()}+' '
                 + ${article.userDTO.getSurname()}">...
            </td>
            <td th:text="${article.message}">...</td>
        </tr>
        </tbody>
    </table>
    </br></br></br>
</th:block>

<th:block th:if="${currentuserid==4}">
    <h3>Edit Article</h3>
    <table class="table">
        <form id="article-update-form" class="form-horizontal" th:action="@{'/articles/' + ${article.id}}"
              method="post">

            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Article</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td th:text="${article.id}">...</td>
                <input hidden th:value="${article.id}" name="id">
                <td th:text="${article.date}">...</td>
                <td><input class="form-control mb-2" id="name"
                           th:value="${article.name}" required/></td>
                <td th:text="${article.userDTO.getFirstname()}+' '
                 + ${article.userDTO.getSurname()}">...
                </td>
                <td>
                    <textarea class="form-control mb-6" th:text="${article.message}" id="message" required/></textarea>
                </td>
            </tr>
            </tbody>
    </table>
    <div style="float: left;">
        <button th:form="article-update-form" class="btn btn-primary btn-lg disabled">Update</button>
    </div>
    </form>
    </br></br></br>
</th:block>

<h3>Comments</h3>
<table class="table">
    <form id="comment-delete-form" method="post" action="/articles/comments"></form>
    <thead class="thead-light">
    <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Author</th>
        <th scope="col">Comment</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="comment : ${comments}">
        <td>
            <th:block th:if="${currentuserid==4}">
                <div class="form-check">
                    <input type="checkbox" name="ids" th:value="${comment.id}" form="comment-delete-form">
                </div>
            </th:block>
        </td>
        <td th:text="${comment.id}">...</td>
        <td th:text="${comment.date}">...</td>
        <td th:text="${comment.userDTO.getFirstname()}+' '
                 + ${comment.userDTO.surname}">...
        </td>
        <td th:text="${comment.message}">...</td>
        </tr>
    </th:block>
    </tbody>
</table>

<th:block th:if="${currentuserid==4}">
    <div style="float: left;">
        <button th:form="comment-delete-form" class="btn btn-primary btn-lg disabled">Delete</button>
    </div>
</th:block>
<div th:replace="include/footer :: footer"></div>
</div>
</body>
</html>
