<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>
    <h3>Article</h3>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Article</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${article.id}">...</td>
            <td th:text="${article.date}">...</td>
            <td th:text="${article.name}">...</td>
            <td th:text="${article.userDTO.getFirstname()}+' '
                 + ${article.userDTO.getSurname()}">...
            </td>
            <td th:text="${article.message}">...</td>
        </tr>
        </tbody>
    </table>

    <h3>Comments</h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Author</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="comment : ${comments}">
            <tr>
                <td th:text="${comment.id}">...</td>
                <td th:text="${comment.date}">...</td>
                <td th:text="${comment.userDTO.getFirstname()}+' '
                 + ${comment.userDTO.surname}">...
                </td>
                <td th:text="${comment.message}">...</td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div th:replace="include/footer :: footer"></div>
</div>
</body>
</html>
