<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>
    <h3>Article</h3>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">UID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${item.name}">...</td>
            <td th:text="${item.uniqueNumber}">...</td>
            <td th:text="${item.price}">...</td>
            <td th:text="${item.text}">...</td>
        </tr>
        </tbody>
    </table>
    <div th:replace="include/footer :: footer"></div>
</div>
</body>
</html>
