<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>
    <h3>Profile</h3>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">First Name</th>
            <th scope="col">SurName</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td th:text="${user.id}">...</td>
            <td th:text="${user.username}">...</td>
            <td th:text="${user.firstname}">...</td>
            <td th:text="${user.surname}">...</td>
        </tr>
        </tbody>
    </table>

    <div th:replace="include/footer :: footer"></div>
</div>
</body>
</html>
