<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>
    <h3>Users List</h3>
    <table class="table">
        <form id="users-delete-form" method="post" action="/users/delete"></form>
        <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Full Name</th>
            <th scope="col">Update Role</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${users}">

            <tr>
                <td>
                    <th:block th:if="${user.id !=1}">
                        <div>
                            <input type="checkbox" name="ids" th:value="${user.id}" form="users-delete-form"/>
                        </div>
                    </th:block>
                </td>
                <td th:text="${user.id}">...</td>
                <td th:text="${user.username}">...</td>
                <td>
                    <form method="post" th:action="@{/users/reset}">
                        <input hidden value="#" th:attr="value=${user.id}" th:name="id"/>
                        <button class="btn btn-light btn-xs">Reset</button>
                    </form>
                </td>

                <td th:text="${user.firstname} + ' ' + ${user.middlename}+ ' ' + ${user.surname}">...</td>

                <td>
                    <form method="post" th:action="@{/users/update}" th:object="${roleDTOUpdatedObject}">

                        <th:block th:if="${user.id ==1}">
                            <div th:text="${user.roleDTO.name}">...</div>
                        </th:block>

                        <th:block th:if="${user.id !=1}">
                            <input hidden value="#" th:attr="value=${user.id}" th:name="id"/>
                            <select name="roleDTO" th:name="roleId" required>
                                <option th:each="roleDTO.name,stat:${roles}"
                                        th:value="${roles[__${stat.index}__].id}"
                                        th:text="${roles[__${stat.index}__].name}"
                                        th:selected="${user.roleDTO.name == roles[__${stat.index}__].name}"
                                        th:disabled="${user.roleDTO.name == roles[__${stat.index}__].name}">
                                </option>
                            </select>
                        </th:block>

                        <th:block th:if="${user.id !=1}">
                            &nbsp;
                            <button class="btn btn-light btn-xs">Update</button>
                        </th:block>
                    </form>
                </td>

            </tr>
        </th:block>
        </tbody>
    </table>

    <div>
        <button th:form="users-delete-form" class="btn btn-primary btn-lg disabled">Delete</button>
    </div>
</div>

<div th:replace="include/footer :: footer"></div>

</body>
</html>
