<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>
<body>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>

    <div>
        <h3>Error 403</h3>

        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <p>
                    You have no permissions to access this page.
                    <a href="javascript:history.back()">Return Back</a>.</p></div>
        </div>

    </div>
</div>
<div th:replace="include/footer :: footer"></div>
</body>
</html>